doctype html
html
    head
        - var page = {Title: `New Entry`}
        include includes/base_head.pug
        link(rel='stylesheet' href='/static/css/admin.css')
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                
                form.simple-vertical(
                    method="post",
                    action="/admin/api/page/new"                   
                )

                    - for (var i = 0; i < table.properties.length; ++i) {
                        - var attrs = {id: table.properties[i], name: table.properties[i], placeholder: placeholders[i]};

                        label(for=table.properties[i])= table.properties[i]
                            if table.types[i] == "textarea"
                                textarea&attributes(attrs)

                            else
                                input(type=table.types[i])&attributes(attrs)
                    - }

                    //- label(for="name") Artwork Name
                    //-     input#name(
                    //-         type="text",
                    //-         name="name",
                    //-         placeholder="Artwork Name"
                    //-         required
                    //-     )

                    //- label(for="file") Artwork Image
                    //-     input#file(
                    //-         type="file", 
                    //-         accept="image/*",
                    //-         name="file"
                    //-         required
                    //-     )

                    //- label(for="date") Date Created
                    //-     input#date(
                    //-         type="date",
                    //-         name="date",
                    //-         placeholder="today"
                    //-     )

                    //- label(for="description") Piece Description
                    //-     input#description(
                    //-         type="text",
                    //-         name="description",
                    //-         placeholder="Artwork Description"
                    //-     )

                    //- label(for="collection") Collection
                    //-     input#collection(
                    //-         type="text",
                    //-         name="collection",
                    //-         placeholder="Collection"
                    //-     )

                    //- label(for="medium") Medium
                    //-     input#medium(
                    //-         type="text",
                    //-         name="medium",
                    //-         placeholder="e.g. acrylic, charcoal...."
                    //-         required
                    //-     )

                    //- label(for="credits") Additional Credits
                    //-     input#credits(
                    //-         type="text",
                    //-         name="credits",
                    //-         placeholder="Additional credits"
                    //-     )

                    //- Value will be supplied by the backend.
                    input(type="submit", value=action)
