doctype html
html
    head
        - var page = {Title: `${table.name} Management`}
        include includes/base_head.pug
        link(rel='stylesheet' href='/static/css/admin.css')
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                h2 #{table.name} Data

                if pages
                    p Rows highlighted in red cannot be removed: they are an essential piece of the site's framework.

                table.database-table
                    thead: tr: th(colspan=table.properties.length + 1) #{table.name} Entries
                    
                    tbody
                        tr
                            th Select

                            //- List all properties, except for Id.
                            each property in table.properties
                                unless property.type === 'hidden'
                                    th #{property.name}

                        //- A whole bunch of nesting for logic.
                        each entry in entries
                            - var nameID = pages? entry.Path : entry.Id;
                            - nameID = "select-" + nameID;

                            tr(class=entry.Canonical? "canonical" : "")
                                //- Check/selection box
                                td: input(type="checkbox", name=nameID, id=nameID)
                                
                                //- The important information.
                                each property in table.properties
                                    //- Some specific properties are handled in specific ways.
                                    if property.type == "hidden"
                                        //- Nothing -- skip this property.

                                    else if property.name == "Path"
                                        td: a(target="blank" href="/" + entry[property.name]) #{entry[property.name]} 

                                    else if property.name == "FileName"
                                        td: a(target="blank" href="/static/img/" + entry[property.name]) #{entry[property.name]}

                                    else if property.name == "Hidden"
                                        td #{entry[property.name]? 'Yes' : 'No'}

                                    else
                                        td #{entry[property.name]}

                        else
                            //- Explicit nothing.
                            tr: td(colspan=table.properties.length + 1) No Entries.

                    tfoot: tr
                        td#selection-counter(colspan=2)
                        td#total-counter(colspan=table.properties.length - 1) #{table.size} #{table.name} entries total

                form.controls
                    if pages
                        a.btn#new(href=`/admin/pages/new-page`) New Page
                    else
                        a.btn#new(href=`/admin/database/${table.name}/new-entry`.toLowerCase()) New Entry

                    input(type="hidden" name="ids" id="rows-selected")

                    - const editDest = pages? 'pages/edit-page' : `database/${table.name.toLowerCase()}/edit-entry`;
                    - const deleteDest = pages? 'page' : table.name.toLowerCase();

                    input#edit(type="submit" formaction=`/admin/${editDest}` value="Edit Entry")
                    input#delete(type="submit" formmethod="POST" formaction=`/admin/api/delete/${deleteDest}`, value="Delete Entries")
                        
    script(type="module", src="/static/scripts/management.js") 
    include includes/admin/feedback.pug
