doctype html
html
    head
        - var page = {Title: "Site Summary"}
        include includes/admin/head.pug
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                h2 Meta Information

                .simple-vertical.indent
                    label Site Title
                        input(type="text" readonly value=meta.Title)

                    label Site Author
                        input(type="text" readonly value=meta.Author)

                    label Site Description
                        input(type="text" readonly value=meta.Description)

                    a.btn(href="/admin/config") Edit Site Info

                h2 Pages

                .simple-vertical.indent
                    
                    each page of pages
                        .heading-font(class=page.Canonical? "": "custom-page")
                            a(href="/" + page.Path) #{page.Title} 

                    span #{pages.length} Total Pages

                    a.btn(href="/admin/pages") Manage Pages

                h2 Database Summary

                .simple-vertical.indent

                    each table of tables 
                        .heading-font
                            span 
                                a(href=`/admin/database/${table.name}`.toLowerCase()) #{table.name}
                                | : #{table.count} Total Entries

                    a.btn(href="/admin/database") Manage Database

                include includes/admin/feedback.pug