doctype html
html
    head
        - var page = {Title: "Artwork Table"}
        include includes/base_head.pug
        link(rel='stylesheet' href='/static/css/admin.css')
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                h2 #{table.name} Data

                table.database-table
                    thead 
                        tr
                            th(colspan=8) #{table.name} Entries
                    
                    tbody
                        tr
                            th Select

                            //- List all properties, except for Id.
                            each property in table.properties
                                if property != "Id"
                                    th #{property}

                        //- A whole bunch of nesting for logic.
                        each entry in entries
                            tr
                                //- Check/selection box
                                td 
                                    input(type="checkbox", name="select-" + entry.Id, id="select-" + entry.Id)
                                
                                //- The important information.
                                each property in table.properties
                                    if property == "Id"
                                        //- Nothing -- skip this property.

                                    else if property == "FileName"
                                        td 
                                            a(target="blank" href="/static/img/" + entry[property]) #{entry[property]}

                                    else
                                        td #{entry[property]}

                    tfoot 
                        tr
                            td#selection-counter(colspan=2)
                            td#total-counter(colspan=6) #{table.size} artworks total

                .controls 
                    button#new(type="button") New Entry

                    button#edit(type="button") Edit Entries 
                    button#delete(type="button") Delete Entries
                        
