doctype html
html
    head
        - var page = {Title: `New Entry`}
        include includes/base_head.pug
        link(rel='stylesheet' href='/static/css/admin.css')
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main: form.simple-vertical(
                    method="post",
                    action=endpoint                   
            )

                - for (var i = 0; i < table.properties.length; ++i) {
                    - const isCheckbox = table.types[i] == "checkbox";
                    - var attrs = {id: table.properties[i], name: table.properties[i], placeholder: placeholders === undefined? table.properties[i] : placeholders[i], required: !isCheckbox && !editMode};

                    if editMode 
                        - attrs.value = attrs.placeholder

                    if isCheckbox && attrs.placeholder == 1
                        - attrs.checked = true

                    label(for=table.properties[i])= table.properties[i]
                        if table.types[i] == "textarea"
                            textarea&attributes(attrs) #{attrs.value}

                        else
                            input(type=table.types[i])&attributes(attrs)
                - }
                
                //- Value will be supplied by the backend.
                input(type="submit", value=action)

    script(type="module", src="/static/scripts/management.js") 
